 /****** Object:  Table [dbo].[CCLIENTE] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCLIENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NOT NULL,
	[NOMEFANTASIA] [varchar](100) NULL,
	[CPFCNPJ] [varchar](20) NOT NULL,
	[INSCESTADUAL] [varchar](20) NULL,
	[INSCMUNICIPAL] [varchar](20) NULL,
	[IDTIPOLOGR] [int] NULL,
	[RUA] [varchar](100) NULL,
	[NUMERO] [varchar](10) NULL,
	[COMPLEMENTO] [varchar](60) NULL,
	[IDTIPOBAIRRO] [int] NULL,
	[BAIRRO] [varchar](80) NULL,
	[IDMUNICIPIO] [int] NULL,
	[CEP] [varchar](9) NULL,
	[EMAIL] [varchar](60) NULL,
	[DDD] [varchar](4) NULL,
	[TELEFONE] [varchar](15) NULL,
	[ESTRANGEIRO] [bit] NULL,
	[NOTIFICATOMA] [bit] NULL,
	[TIPOPESSOA] [nchar](1) NULL,
	[CHAVERM] [varchar](100) NULL
 CONSTRAINT [PK_CCLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CEMPRESA] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CEMPRESA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NOT NULL,
	[NOMEFANTASIA] [varchar](100) NULL,
	[CHAVERM] [varchar](100) NULL
 CONSTRAINT [PK_CEMPRESA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CFILIAL] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CFILIAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NOT NULL,
	[NOMEFANTASIA] [varchar](100) NULL,
	[IDEMPRESA] [int] NOT NULL,
	[CNPJ] [varchar](20) NOT NULL,
	[INSCESTADUAL] [varchar](20) NULL,
	[INSCMUNICIPAL] [varchar](20) NULL,
	[CNAE] [varchar](20) NULL,
	[IDMUNICIPIO] [int] NULL,
	[EMAIL] [varchar](60) NULL,
	[DDD] [varchar](4) NULL,
	[TELEFONE] [varchar](15) NULL,
	[OPTANTESIMPLES] [bit] NULL,
	[INCENTCULTURAL] [bit] NULL,
	[IDTIPOLOGR] [int] NULL,
	[RUA] [varchar](100) NULL,
	[NUMERO] [varchar](10) NULL,
	[COMPLEMENTO] [varchar](60) NULL,
	[IDTIPOBAIRRO] [int] NULL,
	[BAIRRO] [varchar](80) NULL,
	[CEP] [varchar](9) NULL,
	[CHAVERM] [varchar](100) NULL
 CONSTRAINT [PK_CFILIAL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CESTADO] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CESTADO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](40) NOT NULL,
	[CODIGO] [varchar](2) NOT NULL,
	[IDPAIS] [int] NOT NULL,
 CONSTRAINT [PK_CESTADO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMUNICIPIO] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMUNICIPIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODIGOIBGE] [varchar](10) NULL,
	[IDETD] [int] NOT NULL,
	[NOME] [varchar](40) NOT NULL,
 CONSTRAINT [PK_CMUNICIPIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CPAIS] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPAIS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](40) NOT NULL,
	[CODIGO] [varchar](10) NULL,
 CONSTRAINT [PK_CPAIS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CSERIE] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CSERIE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDFILIAL] [INT] NOT NULL,
	[CODIGO] [varchar](5) NOT NULL,
	[DESCRICAO] [varchar](30) NULL,
	[ULTNUMERO] [varchar](15) NULL,
 CONSTRAINT [PK_CSERIE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CSERVICO] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CSERVICO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NOT NULL,
	[DESCRICAO] [varchar](200) NULL,
	[IDUNIDADE] [int] NOT NULL,
 CONSTRAINT [PK_CSERVICO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CSERVICOMUNICIPIO] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CSERVICOMUNICIPIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDMUNICIPIO] [int] NOT NULL,
	[IDSERVICO] [int] NOT NULL,
	[CODIGOMUNICIPAL] [varchar](20) NULL,
	[CODIGOFEDERAL] [varchar](10) NULL,
 CONSTRAINT [PK_CSERVICOMUNICIPIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTIPOBAIRRO] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTIPOBAIRRO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [varchar](4) NOT NULL,
	[DESCRICAO] [varchar](50) NULL,
	[IDMUNICIPIO] [int] NULL,
 CONSTRAINT [PK_CBAIRRO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTIPOLOGR] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTIPOLOGR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [varchar](4) NOT NULL,
	[DESCRICAO] [varchar](50) NULL,
	[IDMUNICIPIO] [int] NULL,
 CONSTRAINT [PK_CLOGRADOURO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTRIBUTO] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTRIBUTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODTRIBUTO] [varchar](10) NOT NULL,
	[ALIQUOTA] [decimal](18, 4) NULL,
	[CODRECOLHIMENTO] [int] NULL,
 CONSTRAINT [PK_CTRIBUTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUNIDADE] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUNIDADE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODUNIDADE] [varchar](10) NOT NULL,
 CONSTRAINT [PK_CUNIDADE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NFSENOTAFISCAL] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NFSENOTAFISCAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDRPS] [int] NOT NULL,
	[STATUS] [int] NULL,
	[DATASTATUS] [datetime] NULL,
	[XMLRPS] [varchar](max) NULL,
	[XMLNOTA] [varchar](max) NULL,
	[NUMERONFSE] [varchar](30) NULL,
	[CODIGOVERIFICACAO] [varchar](50) NULL,
	[CHAVEACESSONFSE] [varchar](50) NULL,
 CONSTRAINT [PK_NFSENOTAFISCAL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NFSERPS] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NFSERPS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATAHORAEMISSAO] [datetime] NULL,
	[IDSERIE] [int] NULL,
	[NUMERO] [varchar](15) NULL,
	[TIPORPS] [smallint] NULL,
	[SITUACAORPS] [smallint] NULL,
	[TIPORECOLHIMENTO] [smallint] NULL,
	[TIPOOPERACAO] [smallint] NULL,
	[TIPOTRIB] [smallint] NULL,
	[TRBLOCALSERV] [bit] NULL,
	[ISSMUNPRESTADOR] [bit] NULL,
	[IDMUNPREST] [int] NULL,
	[IDMUNINC] [int] NULL,
	[IDFILIAL] [INT] NOT NULL,
	[DESCRICAO] [varchar](100) NULL,
	[OBSERVACAO] [varchar](100) NULL,
	[CHAVERM] [varchar](100) NULL,
 CONSTRAINT [PK_NFSERPS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NFSERPSITEM] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NFSERPSITEM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDRPS] [int] NOT NULL,
	[IDSERVICO] [int] NOT NULL,
	[DESCRICAO] [varchar](2000) NULL,
	[QUANTIDADE] [decimal](18, 4) NULL,
	[VALUNITARIO] [decimal](18, 4) NULL,
	[VALTOTAL] [decimal](18, 4) NULL,
	[VALLIQUIDO] [decimal](18, 4) NULL,
	[VALDEDUCOES] [decimal](18, 4) NULL,
	[DESCCOND] [decimal](18, 4) NULL,
	[DESCINCOND] [decimal](18, 4) NULL,
	[VALCARGATRIB] [decimal](18, 4) NULL,
	[VALPERCARGATRIB] [decimal](18, 4) NULL,
	[FONTECARGATRIB] [varchar](10) NULL,
	[OUTRASDESP] [decimal](18, 4) NULL,
 CONSTRAINT [PK_NFSERPSITEM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NFSERPSITEMTRIB] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NFSERPSITEMTRIB](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDITEM] [int] NOT NULL,
	[IDTRIBUTO] [int] NOT NULL,
	[BASEDECALCULO] [decimal](18, 4) NULL,
	[ALIQUOTA] [decimal](18, 4) NULL,
	[VALOR] [decimal](18, 4) NULL,
	[CODRECOLHIMENTO] [int] NULL,
 CONSTRAINT [PK_NFSERPSITEMTRIB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
 /****** Object:  Table [dbo].[CCERTIFICADO] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCERTIFICADO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CNPJ] [varchar](20) NULL,
	[DESCRICAO] [varchar](300) NULL,
	[CERTIFICADO] [varchar](max) NULL,
	[SENHA] [varchar](200) NULL,
	[INICIOVALIDADE] [datetime] NULL,
	[FIMVALIDADE] [datetime] NULL,
	[STATUS] [int] NULL
 CONSTRAINT [PK_CCERTIFICADO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
 /****** Object:  Table [dbo].[CURLINTEGRACAO] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURLINTEGRACAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORGAO] [varchar](7) NULL,
	[AMBIENTE] [int] NULL,
	[MODELO] [varchar](10) NULL,
	[SERVICO] [varchar](20) NULL,
	[URL] [varchar](300) NULL,
	[VERSAO] [varchar](5) NULL
	CONSTRAINT [PK_CURLINTEGRACAO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
 /****** Object:  Table [dbo].[NFSEENVIO] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NFSEENVIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDRPS] [int] NOT NULL,
	[DATA] [datetime] NULL,
	[STATUS] [int] NULL,
	[ERRO] [varchar] (500) NULL,
	[XMLENVIO] [varchar](max) NULL,
	[IDURL] [int] NULL
	CONSTRAINT [PK_NFSEENVIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
 /****** Object:  Table [dbo].[NFSERETORNO] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NFSERETORNO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDENVIO] [int] NOT NULL,
	[IDRPS] [int] NOT NULL,
	[DATA] [datetime] NULL,
	[STATUS] [varchar](10) NULL,
	[ERRO] [varchar] (500) NULL,
	[XMLRETORNO] [varchar](max) NULL
	CONSTRAINT [PK_NFSERETORNO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCAMPO] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCAMPO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TABELA] [varchar](50) NOT NULL,
	[CAMPO] [varchar](50) NULL,
	[DESCRICAO] [varchar](200) NULL,
	[PREENCHIMENTO] [varchar](400) NULL,
 CONSTRAINT [PK_SCAMPO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CCLIENTE_CTIPOBAIRRO] FOREIGN KEY([IDTIPOBAIRRO])
REFERENCES [dbo].[CTIPOBAIRRO] ([ID])
GO
ALTER TABLE [dbo].[CCLIENTE] CHECK CONSTRAINT [FK_CCLIENTE_CTIPOBAIRRO]
GO
ALTER TABLE [dbo].[CCLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CCLIENTE_CTIPOLOGRADOURO] FOREIGN KEY([IDTIPOLOGR])
REFERENCES [dbo].[CTIPOLOGR] ([ID])
GO
ALTER TABLE [dbo].[CCLIENTE] CHECK CONSTRAINT [FK_CCLIENTE_CTIPOLOGRADOURO]
GO
ALTER TABLE [dbo].[CCLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CCLIENTE_CMUNICIPIO] FOREIGN KEY([IDMUNICIPIO])
REFERENCES [dbo].[CMUNICIPIO] ([ID])
GO
ALTER TABLE [dbo].[CCLIENTE] CHECK CONSTRAINT [FK_CCLIENTE_CMUNICIPIO]
GO
ALTER TABLE [dbo].[CFILIAL]  WITH CHECK ADD  CONSTRAINT [FK_CFILIAL_CEMPRESA] FOREIGN KEY([IDEMPRESA])
REFERENCES [dbo].[CEMPRESA] ([ID])
GO
ALTER TABLE [dbo].[CSERIE]  WITH CHECK ADD  CONSTRAINT [FK_CSERIE_CFILIAL] FOREIGN KEY([IDFILIAL])
REFERENCES [dbo].[CFILIAL] ([ID])
GO
ALTER TABLE [dbo].[CSERIE] CHECK CONSTRAINT [FK_CSERIE_CFILIAL]
GO
ALTER TABLE [dbo].[CFILIAL]  WITH CHECK ADD  CONSTRAINT [FK_CFILIAL_CTIPOBAIRRO] FOREIGN KEY([IDTIPOBAIRRO])
REFERENCES [dbo].[CTIPOBAIRRO] ([ID])
GO
ALTER TABLE [dbo].[CFILIAL] CHECK CONSTRAINT [FK_CFILIAL_CTIPOBAIRRO]
GO
ALTER TABLE [dbo].[CFILIAL]  WITH CHECK ADD  CONSTRAINT [FK_CFILIAL_CTIPOLOGRADOURO] FOREIGN KEY([IDTIPOLOGR])
REFERENCES [dbo].[CTIPOLOGR] ([ID])
GO
ALTER TABLE [dbo].[CFILIAL] CHECK CONSTRAINT [FK_CFILIAL_CTIPOLOGRADOURO]
GO
ALTER TABLE [dbo].[CFILIAL]  WITH CHECK ADD  CONSTRAINT [FK_CFILIAL_CMUNICIPIO] FOREIGN KEY([IDMUNICIPIO])
REFERENCES [dbo].[CMUNICIPIO] ([ID])
GO
ALTER TABLE [dbo].[CFILIAL] CHECK CONSTRAINT [FK_CFILIAL_CMUNICIPIO]
GO
ALTER TABLE [dbo].[CESTADO]  WITH CHECK ADD  CONSTRAINT [FK_CESTADO_CPAIS] FOREIGN KEY([IDPAIS])
REFERENCES [dbo].[CPAIS] ([ID])
GO
ALTER TABLE [dbo].[CESTADO] CHECK CONSTRAINT [FK_CESTADO_CPAIS]
GO
ALTER TABLE [dbo].[CMUNICIPIO]  WITH CHECK ADD  CONSTRAINT [FK_CMUNICIPIO_CESTADO] FOREIGN KEY([IDETD])
REFERENCES [dbo].[CESTADO] ([ID])
GO
ALTER TABLE [dbo].[CMUNICIPIO] CHECK CONSTRAINT [FK_CMUNICIPIO_CESTADO]
GO
ALTER TABLE [dbo].[CSERVICO]  WITH CHECK ADD  CONSTRAINT [FK_CSERVICO_CUNIDADE] FOREIGN KEY([IDUNIDADE])
REFERENCES [dbo].[CUNIDADE] ([ID])
GO
ALTER TABLE [dbo].[CSERVICO] CHECK CONSTRAINT [FK_CSERVICO_CUNIDADE]
GO
ALTER TABLE [dbo].[CSERVICOMUNICIPIO]  WITH CHECK ADD  CONSTRAINT [FK_CSERVICOMUNICIPIO_CMUNICIPIO] FOREIGN KEY([IDMUNICIPIO])
REFERENCES [dbo].[CMUNICIPIO] ([ID])
GO
ALTER TABLE [dbo].[CSERVICOMUNICIPIO] CHECK CONSTRAINT [FK_CSERVICOMUNICIPIO_CMUNICIPIO]
GO
ALTER TABLE [dbo].[CSERVICOMUNICIPIO]  WITH CHECK ADD  CONSTRAINT [FK_CSERVICOMUNICIPIO_CSERVICO] FOREIGN KEY([IDSERVICO])
REFERENCES [dbo].[CSERVICO] ([ID])
GO
ALTER TABLE [dbo].[CSERVICOMUNICIPIO] CHECK CONSTRAINT [FK_CSERVICOMUNICIPIO_CSERVICO]
GO
ALTER TABLE [dbo].[CTIPOBAIRRO]  WITH CHECK ADD  CONSTRAINT [FK_CBAIRRO_CMUNICIPIO] FOREIGN KEY([IDMUNICIPIO])
REFERENCES [dbo].[CMUNICIPIO] ([ID])
GO
ALTER TABLE [dbo].[CTIPOBAIRRO] CHECK CONSTRAINT [FK_CBAIRRO_CMUNICIPIO]
GO
ALTER TABLE [dbo].[CTIPOLOGR]  WITH CHECK ADD  CONSTRAINT [FK_CLOGRADOURO_CMUNICIPIO] FOREIGN KEY([IDMUNICIPIO])
REFERENCES [dbo].[CMUNICIPIO] ([ID])
GO
ALTER TABLE [dbo].[CTIPOLOGR] CHECK CONSTRAINT [FK_CLOGRADOURO_CMUNICIPIO]
GO
ALTER TABLE [dbo].[NFSENOTAFISCAL]  WITH CHECK ADD  CONSTRAINT [FK_NFSENOTAFISCAL_NFSERPS] FOREIGN KEY([IDRPS])
REFERENCES [dbo].[NFSERPS] ([ID])
GO
ALTER TABLE [dbo].[NFSENOTAFISCAL] CHECK CONSTRAINT [FK_NFSENOTAFISCAL_NFSERPS]
GO
ALTER TABLE [dbo].[NFSERPS]  WITH CHECK ADD  CONSTRAINT [FK_NFSERPS_CMUNICIPIO] FOREIGN KEY([IDMUNPREST])
REFERENCES [dbo].[CMUNICIPIO] ([ID])
GO
ALTER TABLE [dbo].[NFSERPS] CHECK CONSTRAINT [FK_NFSERPS_CMUNICIPIO]
GO
ALTER TABLE [dbo].[NFSERPS]  WITH CHECK ADD  CONSTRAINT [FK_NFSERPS_CFILIAL] FOREIGN KEY([IDFILIAL])
REFERENCES [dbo].[CFILIAL] ([ID])
GO
ALTER TABLE [dbo].[NFSERPS] CHECK CONSTRAINT [FK_NFSERPS_CFILIAL]
GO
ALTER TABLE [dbo].[NFSERPS]  WITH CHECK ADD  CONSTRAINT [FK_NFSERPS_CMUNICIPIOINC] FOREIGN KEY([IDMUNINC])
REFERENCES [dbo].[CMUNICIPIO] ([ID])
GO
ALTER TABLE [dbo].[NFSERPS] CHECK CONSTRAINT [FK_NFSERPS_CMUNICIPIOINC]
GO
ALTER TABLE [dbo].[NFSERPS]  WITH CHECK ADD  CONSTRAINT [FK_NFSERPS_CSERIE] FOREIGN KEY([IDSERIE])
REFERENCES [dbo].[CSERIE] ([ID])
GO
ALTER TABLE [dbo].[NFSERPS] CHECK CONSTRAINT [FK_NFSERPS_CSERIE]
GO
ALTER TABLE [dbo].[NFSERPSITEM]  WITH CHECK ADD  CONSTRAINT [FK_NFSERPSITEM_NFSERPS] FOREIGN KEY([IDRPS])
REFERENCES [dbo].[NFSERPS] ([ID])
GO
ALTER TABLE [dbo].[NFSERPSITEM] CHECK CONSTRAINT [FK_NFSERPSITEM_NFSERPS]
GO
ALTER TABLE [dbo].[NFSERPSITEM]  WITH CHECK ADD  CONSTRAINT [FK_NFSERPSITEM_CSERVICO] FOREIGN KEY([IDSERVICO])
REFERENCES [dbo].[CSERVICO] ([ID])
GO
ALTER TABLE [dbo].[NFSERPSITEM] CHECK CONSTRAINT [FK_NFSERPSITEM_CSERVICO]
GO
ALTER TABLE [dbo].[NFSERPSITEMTRIB]  WITH CHECK ADD  CONSTRAINT [FK_NFSERPSITEMTRIB_CTRIBUTO] FOREIGN KEY([IDTRIBUTO])
REFERENCES [dbo].[CTRIBUTO] ([ID])
GO
ALTER TABLE [dbo].[NFSERPSITEMTRIB] CHECK CONSTRAINT [FK_NFSERPSITEMTRIB_CTRIBUTO]
GO
ALTER TABLE [dbo].[NFSERPSITEMTRIB]  WITH CHECK ADD  CONSTRAINT [FK_NFSERPSITEMTRIB_NFSERPSITEM] FOREIGN KEY([IDITEM])
REFERENCES [dbo].[NFSERPSITEM] ([ID])
GO
ALTER TABLE [dbo].[NFSERPSITEMTRIB] CHECK CONSTRAINT [FK_NFSERPSITEMTRIB_NFSERPSITEM]
GO
ALTER TABLE [dbo].[NFSEENVIO]  WITH CHECK ADD  CONSTRAINT [FK_NFSEENVIO_NFSERPS] FOREIGN KEY([IDRPS])
REFERENCES [dbo].[NFSERPS] ([ID])
GO
ALTER TABLE [dbo].[NFSEENVIO] CHECK CONSTRAINT [FK_NFSEENVIO_NFSERPS]
GO
ALTER TABLE [dbo].[NFSEENVIO]  WITH CHECK ADD  CONSTRAINT [FK_NFSEENVIO_CURLINTEGRACAO] FOREIGN KEY([IDURL])
REFERENCES [dbo].[CURLINTEGRACAO] ([ID])
GO
ALTER TABLE [dbo].[NFSEENVIO] CHECK CONSTRAINT [FK_NFSEENVIO_CURLINTEGRACAO]
GO
ALTER TABLE [dbo].[NFSERETORNO]  WITH CHECK ADD  CONSTRAINT [FK_NFSERETORNO_NFSEENVIO] FOREIGN KEY([IDENVIO])
REFERENCES [dbo].[NFSEENVIO] ([ID])
GO
ALTER TABLE [dbo].[NFSERETORNO] CHECK CONSTRAINT [FK_NFSERETORNO_NFSEENVIO]
GO
ALTER TABLE [dbo].[NFSERETORNO]  WITH CHECK ADD  CONSTRAINT [FK_NFSERETORNO_NFSERPS] FOREIGN KEY([IDRPS])
REFERENCES [dbo].[NFSERPS] ([ID])
GO
ALTER TABLE [dbo].[NFSERETORNO] CHECK CONSTRAINT [FK_NFSERETORNO_NFSERPS]
GO

ALTER TABLE CESTADO ADD CONSTRAINT UK_CESTADO_UF UNIQUE (CODIGO, IDPAIS)
GO
ALTER TABLE CSERIE ADD CONSTRAINT UK_CSERIE_CODIGO UNIQUE (CODIGO, IDFILIAL)
GO
ALTER TABLE CTIPOBAIRRO ADD CONSTRAINT UK_CTIPOBAIRRO_CODIGO UNIQUE (CODIGO, IDMUNICIPIO)
GO
ALTER TABLE CTIPOLOGR ADD CONSTRAINT UK_CTIPOLOGR_CODIGO UNIQUE (CODIGO, IDMUNICIPIO)
GO
ALTER TABLE CUNIDADE ADD CONSTRAINT UK_CUNIDADE_CODIGO UNIQUE (CODUNIDADE)
GO
ALTER TABLE NFSENOTAFISCAL ADD CONSTRAINT UK_NFSENOTAFISCAL_RPS UNIQUE (IDRPS)
GO
ALTER TABLE NFSERPS ADD CONSTRAINT UK_NFSERPS_NUMERO UNIQUE (IDSERIE, NUMERO, IDFILIAL)
GO
ALTER TABLE NFSERPSITEMTRIB ADD CONSTRAINT UK_NFSERPSITEMTRIB_TRIBUTO UNIQUE (IDITEM, IDTRIBUTO)
GO
ALTER TABLE CURLINTEGRACAO ADD CONSTRAINT UK_CURLINTEGRACAO UNIQUE (ORGAO, AMBIENTE, MODELO, SERVICO, VERSAO)
GO
ALTER TABLE SCAMPO ADD CONSTRAINT UK_SCAMPO UNIQUE (TABELA, CAMPO)
GO

/****** Preenchendo registros da tabela CCLIENTE ******/
INSERT INTO SCAMPO (TABELA, CAMPO, DESCRICAO, PREENCHIMENTO) VALUES ('CCLIENTE', '', 'Cliente','Cadastro de Cliente')
INSERT INTO SCAMPO (TABELA, CAMPO, DESCRICAO, PREENCHIMENTO) VALUES ('CCLIENTE', 'ID', 'Identificador','Identificador do Cliente (autoincremento)')
INSERT INTO SCAMPO (TABELA, CAMPO, DESCRICAO, PREENCHIMENTO) VALUES ('CCLIENTE', 'NOME', 'Nome','Nome do Cliente')
GO

/****** Preenchendo registros da tabela CFILIAL ******/

GO

/****** Preenchendo registros da tabela CESTADO ******/

GO

/****** Preenchendo registros da tabela CMUNICIPIO ******/

GO

/****** Preenchendo registros da tabela CPAIS ******/

GO

/****** Preenchendo registros da tabela CSERIE ******/

GO

/****** Preenchendo registros da tabela CSERVICO ******/

GO

/****** Preenchendo registros da tabela CSERVICOMUNICIPIO ******/

GO

/****** Preenchendo registros da tabela CTIPOBAIRRO ******/

GO

/****** Preenchendo registros da tabela CTIPOLOGR ******/

GO

/****** Preenchendo registros da tabela CTRIBUTO ******/

GO

/****** Preenchendo registros da tabela CUNIDADE ******/

GO

/****** Preenchendo registros da tabela NFSENOTAFISCAL ******/

GO

/****** Preenchendo registros da tabela NFSERPS ******/

GO

/****** Preenchendo registros da tabela NFSERPSITEM ******/

GO

/****** Preenchendo registros da tabela NFSERPSITEMTRIB ******/

GO

/****** Preenchendo registros da tabela CCERTIFICADO ******/

GO

/****** Preenchendo registros da tabela CURLINTEGRACAO ******/

GO

/****** Preenchendo registros da tabela NFSEENVIO ******/

GO

/****** Preenchendo registros da tabela NFSERETORNO ******/

GO

/****** Preenchendo registros da tabela SCAMPO ******/

GO


/* Exemplo de INSERTS 


-- SELECT * FROM [CPAIS] (NOLOCK)
INSERT INTO [CPAIS] ([NOME], [CODIGO])
VALUES ('Brasil', '1058')

-- SELECT * FROM [CESTADO] (NOLOCK)
INSERT INTO [CESTADO] ([NOME], [CODIGO], [IDPAIS])
VALUES ('Rio de Janeiro', 'RJ', 1)

-- SELECT * FROM [CMUNICIPIO]
INSERT INTO [CMUNICIPIO] ([CODIGOIBGE], [IDETD], [NOME])
VALUES ('3303401', 1, 'Nova Friburgo')

-- SELECT * FROM [CUNIDADE]
INSERT INTO [CUNIDADE] ([CODUNIDADE])
VALUES ('H')

-- SELECT * FROM [CTRIBUTO]
INSERT INTO [CTRIBUTO] ([CODTRIBUTO], [ALIQUOTA], [CODRECOLHIMENTO])
VALUES ('ISS', 2.50, 1)

-- SELECT * FROM [CURLINTEGRACAO]
INSERT INTO [CURLINTEGRACAO] ([ORGAO], [AMBIENTE], [MODELO], [SERVICO], [URL], [VERSAO])
VALUES ('3303401', 1, '56', NULL, 'http://sis-nfs-e.pmnf.rj.gov.br:8040/nfe/webservices/NFEServices.jws', '2.04')
INSERT INTO [CURLINTEGRACAO] ([ORGAO], [AMBIENTE], [MODELO], [SERVICO], [URL], [VERSAO])
VALUES ('3303401', 2, '56', NULL, 'http://homologacao.pmnf.rj.gov.br:8037/nfe_homologacao/webservices/NFEServices.jws', '2.04')

-- SELECT * FROM [CEMPRESA]
INSERT INTO [CEMPRESA] ([NOME], [NOMEFANTASIA], [CHAVERM])
VALUES ('Empresa Teste', 'Empresa de Testes', NULL)

-- SELECT * FROM [CTIPOBAIRRO]
INSERT INTO [CTIPOBAIRRO] ([CODIGO], [DESCRICAO], [IDMUNICIPIO])
VALUES ('1','Bairro', 1)

-- SELECT * FROM [CTIPOLOGR]
INSERT INTO [CTIPOLOGR] ([CODIGO], [DESCRICAO], [IDMUNICIPIO])
VALUES ('1', 'Avenida', 1)
INSERT INTO [CTIPOLOGR] ([CODIGO], [DESCRICAO], [IDMUNICIPIO])
VALUES ('2', 'Rua', 1)

-- SELECT * FROM [CCLIENTE]
INSERT INTO [CCLIENTE] ([NOME], [NOMEFANTASIA], [CPFCNPJ], [INSCESTADUAL], [INSCMUNICIPAL], [IDTIPOLOGR], [RUA], [NUMERO], [COMPLEMENTO], [IDTIPOBAIRRO], [BAIRRO], [IDMUNICIPIO], [CEP], [EMAIL], [DDD], [TELEFONE], [ESTRANGEIRO], [NOTIFICATOMA], [TIPOPESSOA], [CHAVERM])
VALUES ('Cliente Teste', 'Cliente utilizado para Teste', '605.215.580-93', NULL, NULL, 1, 'Rua Cliente', '20', 'Complemento Cliente', 1, 'Bairro Cliente', 1, '31010-000', 'thiagohenrique503@hotmail.com', '31', '3133-3133', 0, 1, 'F', NULL)

-- SELECT * FROM [CFILIAL]
INSERT INTO [CFILIAL] ([NOME], [NOMEFANTASIA], [IDEMPRESA], [CNPJ], [INSCESTADUAL], [INSCMUNICIPAL], [CNAE], [IDMUNICIPIO], [EMAIL], [DDD], [TELEFONE], [OPTANTESIMPLES], [INCENTCULTURAL], [IDTIPOLOGR], [RUA], [NUMERO], [COMPLEMENTO], [IDTIPOBAIRRO], [BAIRRO], [CEP], [CHAVERM])
VALUES ('Filial Teste', 'Filial utilizada para Teste', 1, '30.550.5520/0013-4', NULL, '10236003605', '8511200', 1, 'thiagohenrique503@hotmail.com', '31', '3133-3133', 0, 0, 1, 'Rua Filial', '10', 'Complemento Filial', 1, 'Bairro Filial', '31010-020', NULL)                 

-- SELECT * FROM [CSERIE]
INSERT INTO [CSERIE] ([IDFILIAL], [CODIGO], [DESCRICAO], [ULTNUMERO])
VALUES (1, 'RPS', 'Série RPS', '000001')

-- SELECT * FROM [CSERVICO]
INSERT INTO [CSERVICO] ([NOME], [DESCRICAO], [IDUNIDADE])
VALUES ('Serviço Teste', 'Serviço utilizado para Teste', 1)

-- SELECT * FROM [CSERVICOMUNICIPIO]
INSERT INTO [CSERVICOMUNICIPIO] ([IDMUNICIPIO], [IDSERVICO], [CODIGOMUNICIPAL], [CODIGOFEDERAL])
VALUES (1, 1, '8.01', '8.01')

-- SELECT * FROM [NFSERPS]
INSERT INTO [NFSERPS] ([DATAHORAEMISSAO], [IDSERIE], [NUMERO], [TIPORPS], [SITUACAORPS], [TIPORECOLHIMENTO], [TIPOOPERACAO], [TIPOTRIB], [TRBLOCALSERV], [ISSMUNPRESTADOR], [IDMUNPREST], [IDMUNINC], [IDFILIAL], [DESCRICAO], [OBSERVACAO], [CHAVERM])
VALUES ('2020-04-04', 1, '000001', 1, 1, 1, 1, 6, 1, 1, 1, 1, 1, 'Descrição RPS', 'Observação RPS', NULL)

-- SELECT * FROM [NFSERPSITEM]
INSERT INTO [NFSERPSITEM] ([IDRPS], [IDSERVICO], [DESCRICAO], [QUANTIDADE], [VALUNITARIO], [VALTOTAL], [VALLIQUIDO], [VALDEDUCOES], [DESCCOND], [DESCINCOND], [VALCARGATRIB], [VALPERCARGATRIB], [FONTECARGATRIB], [OUTRASDESP])
VALUES (1, 1, 'Descrição Item', 1.00, 1.00, 1.00, 1.00, 0.00, 0.00, 0.00, 0.00, 0.00, NULL, 0.00)

-- SELECT * FROM [NFSERPSITEMTRIB]
INSERT INTO [NFSERPSITEMTRIB] ([IDITEM], [IDTRIBUTO], [BASEDECALCULO], [ALIQUOTA], [VALOR], [CODRECOLHIMENTO])
VALUES (1, 1, 1.00, 2.50, 1.0250, 1)

-- SELECT * FROM [NFSENOTAFISCAL]
INSERT INTO [NFSENOTAFISCAL] ([IDRPS], [STATUS], [DATASTATUS], [XMLRPS], [XMLNOTA], [NUMERONFSE], [CODIGOVERIFICACAO], [CHAVEACESSONFSE])
VALUES (1, 1, '2020-04-04', NULL, NULL, NULL, NULL, NULL)

-- SELECT * FROM [NFSEENVIO]
INSERT INTO [NFSEENVIO] ([IDRPS], [DATA], [STATUS], [ERRO], [XMLENVIO], [IDURL])
VALUES (1, '2020-04-04', 1, NULL, NULL, 2)

-- SELECT * FROM [NFSERETORNO]
INSERT INTO [NFSERETORNO] ([IDENVIO], [IDRPS], [DATA], [STATUS], [ERRO], [XMLRETORNO])
VALUES (1, 1, '2020-04-04', 1, NULL, NULL)

-- SELECT * FROM [CCERTIFICADO]
INSERT INTO [CCERTIFICADO] ([CNPJ], [DESCRICAO], [CERTIFICADO], [SENHA], [INICIOVALIDADE], [FIMVALIDADE], [STATUS])
VALUES ('30.550.5520/0013-4', 'Certificado NFS-e', NULL, NULL, '2020-04-04', '2021-04-04', 1)

*/